	header {
		background: #eee; /* Old browsers */
		background: #fff -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(160,160,160,.2) 100%); /* FF3.6+ */
		background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(160,160,160,.2))); /* Chrome,Safari4+ */
		background: #fff -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(160,160,160,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #fff -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(160,160,160,.2) 100%); /* Opera11.10+ */
		background: #fff -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(160,160,160,.2) 100%); /* IE10+ */
		background: #fff linear-gradient(top, rgba(245,255,255,.2) 0%,rgba(160,160,160,.2) 100%); /* W3C */
	  border: 1px solid #ccc;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px; }
    
    samp { font-size: 90%; font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; padding: 0 20px 20px 19px; display: block; }
